.header {
    grid-area: header;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    color: #fff;

    position: relative;
    z-index: 4;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nameWrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.icon {
    margin-right: 0.5ch;
}

.name {
    margin: 0;
    font-size: 28px;
    font-weight: normal;
}

.version {
    font-size: 12px;
    color: #999;
    margin-left: 1ch;
}
