.header {
    grid-area: header;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);

    position: relative;
    z-index: 4;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nameWrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.icon {
    margin-right: 0.5ch;
}

.name {
    margin: 0;
    font-size: 28px;
    font-weight: normal;
}

.version {
    font-size: 12px;
    color: var(--color-grey);
    margin-left: 1ch;
}
