.editorWrapper {
    grid-area: editor;
    position: relative;

    /**
     * to simulate editor outline before js has loaded and initiated
     */
    background: #2d2d2d;
}

.prettify {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 3;

    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.prettify[disabled] {
    opacity: 0.5;
    /**
     * hides the button underneath the header
     * -120% since the funky behavior in safari
     */
    transform: translateY(calc(-120% - 4px));
}

.dropzone {
    height: 100%;
    width: 100%;
    position: relative;
}

.dropzone:after {
    content: 'Drop your schema here (json/yaml)';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-overlay);
    z-index: 1000000;
    color: var(--color-white);
    justify-content: space-around;
    align-items: center;

    display: none;
}
.dropzoneOverlayed:after {
    display: flex;
}

.editorLabel {
    position: absolute;
    left: -200vw;
}
