.btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;

    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 3px;
}

.btn:hover {
    background: #f3f4f6;
}

.size_sm {
    padding: 2px 12px;
}

.size_md {
    padding: 4px 16px;
}

.size_lg {
    padding: 6px 20px;

    font-size: 14px;
    font-weight: 700;

    border-width: 2px;
    border-radius: 4px;
}
