.listItem {
    padding: 8px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #333;
}

.listItem + .listItem {
    margin-top: 8px;
}

.info {
    display: flex;
    flex-flow: column nowrap;

    line-height: 1.1em;
    word-break: break-word;
}

.info > * + * {
    margin-top: 4px;
}

.btn {
    align-self: center;
    flex-shrink: 0;
    margin: 0 0 0 8px;

    font-size: 14px;
    font-weight: 700;

    padding: 4px 20px;

    background: none;
    border: 2px solid #49cc90;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);

    transition: all 0.3s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
