.overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--color-overlay);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 52px;

    /**
     * To overlay ace editor line number column
     */
    z-index: 10;
}

.content {
    border: 0;
    background: var(--color-white);
    overflow: auto;
    border-radius: 4px;
    outline: currentcolor none medium;
    padding: 8px 12px;
    max-height: 100%;
}

.inner {
    position: relative;
    padding: 12px;
}

.button {
    position: absolute;
    top: 0;
    right: 0;

    border: 2px solid var(--color-accent);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0 0 5px transparent;
    transition: background 0.3s, box-shadow 0.3s;
    font-weight: bold;
}

.button:hover {
    background: var(--color-accent);
    box-shadow: 0 0 5px var(--color-shadow);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .overlay {
        padding: 24px;
    }
}
