.resultWrapper {
    grid-area: result;
    overflow: scroll;
}

.total {
    padding: 0 16px;
    font-size: 15px;
    line-height: 20px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
